h1,h2,p,form{
  text-align: center;
}

#malerock, #femalerock, #enbyrock, #malerap, #femalerap, #enbyrap {
  display: none;
}

.btn{
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  width:650px;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
